body {
padding:0;margin:0 auto;
    background:#fff;
	min-width: 300px;
}
#head{
    display: block;
    background: #607D8B;
    width: 100%;
    position:relative;
    top:-37px;
    box-shadow: 0px 3px 3px #9a9a9a;
}
#logo{
position: relative;
    top:0px;
}

legend{
    position:relative;
    top:-37px;
    color:#0baac0;
    font-size: 18px;
    font-family:sans-serif;
    
}
#box{
    position:relative;
    top:-37px;
	width:98%;
	max-width:414px;
	height:180px;	
	background-color:#0bb3c7;
	border-radius:5px;
	padding:40px 0 0 0;
	margin:0px auto;
    box-shadow: 2px 3px 3px #9a9a9a;


}


/**------------USER------------**/
#user{
border:1px #ccc solid;color:#6D6D6D;background:#fff;opacity: 1;
height:40px;font-size:16px;
display:block;width:230px;
text-align:center;border-radius:5px;
font-family:inherit
}
/**--------------------PASSWORD----------**/
#pass{
border:1px #ccc solid;color:#6D6D6D;background:#fff;opacity: 1;height:40px;font-size:16px;
display:block;margin:5px;width:230px;text-align:center;border-radius:5px;font-family:inherit
}
/*---------------Boton---------*/
#boton{
	-webkit-appearance:none;color:#fff;
	background:#0da2b4; background-image:url(lock.png);
	background-repeat: no-repeat; background-position:center; opacity: 1;
    border:none;border-radius:50%;height:70px;width:70px;font-size:16px;font-weight:400;outline:0;text-transform:uppercase;
    letter-spacing:1.5px;cursor:pointer
    }
#boton:hover{
	background-color:#607D8B;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease
	}
    .vertical-form .footer{
        position: relative;
        top:-37px;
        text-align:center;
color:#ccc;}
.vertical-form .footer a{text-decoration:none;color:#4285F4;}
    @media (max-width:450px){

       }
